// Molecules
//
// In chemistry, molecules are groups of atoms bonded
// together that resultantly take on new properties.
// In interfaces, molecules are relatively simple groups of
// UI elements functioning together as a unit. For example,
// a form label, search input, and button can combine them
// together to create a search form molecule.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/
