// Variables

// Configurations

// $fix-mqs
//
// Define width for browsers w/out media query support
//
// $fix-mqs - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$fix-mqs:                     false !default;

// $old-ie
//
// Turn on/off IE specific styles
//
// $old-ie - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$old-ie:                      false !default;

// $breakpoints
//
// Define major breakpoints
// There are no common breakpoints; examples based on the official Sass styleguide
// You'll need to define your own breakpoints to suit your design
//
// $breakpoints - {map}

$breakpoints: (
  xsmall:                     null,
  small:                      480,
  medium:                     768,
  large:                      1024,
  xlarge:                     1280,
);

// $zindex
//
// Define z-indexes for various elements
//
// $zindex - {map}
// @source - http://www.sitepoint.com/using-sass-maps/

$zindex: (
  overlay:                    9000,
  dropdown:                   8000,
  nav:                        7000,
  header:                     6000,
  footer:                     5000,
  pseduo:                     4000,
  default:                    1,
  bottomless-pit:             -10000
);
