// ==========================================================================
// = Global Variables
// ==========================================================================

/**
 * CSS layout debugging
 * @link http://pesticide.io/
 * @type boolean
 */

$pesticide-debug              : false;

/**
 * Define width for browsers w/out media query support
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$fix-mqs                      : false !default;

/**
 * Turn on/off IE specific styles
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$old-ie                       : false !default;

// Color Scheme
// examples based on the official Sass styleguide
// =============

// Descriptive colors:
$hopbush                      : #c69;
$bouquet                      : #b37399;
$venus                        : #998099;
$patina                       : #699;
$nebula                       : #d2e1dd;
$white                        : #fff;
$dawn-pink                    : #f2ece4;
$wafer                        : #e1d7d2;
$iron                         : #dadbdf;
$regent-grey                  : #808c99;
$pale-sky                     : #6b717f;
$midnight-blue                : #036;
$black                        : #000;

// Main color palette
$color-primary                : $hopbush;
$color-secondary              : $bouquet;
$color-accent                 : $patina;
$color-shadow                 : rgba($black, .125);
$color-note                   : #666;

// Common colors
$color-background             : $white;
$color-background-shade       : $iron;
$color-background-invert      : $hopbush;
$color-border                 : $iron;
$color-text                   : darken($pale-sky, 15);
$color-text-weak              : $regent-grey;
$color-text-strong            : $midnight-blue;
$color-text-heading           : $regent-grey;
$color-text-invert            : rgba($color-background, .75);
$color-text-strong-invert     : $color-background;

// Links
$color-link                   : $color-primary;
$color-link-hover             : $midnight-blue;
$color-link-visited           : $bouquet;

// Code
$color-code                   : #333;
$color-code-background        : #f3f3f3;
$color-pre                    : #d4d4d4;
$color-pre-background         : #333;

// Selections
$color-selection              : #b3d4fc;

// Messages
$color-message                : #f4ecbb;
$color-success                : #2cde2c;
$color-warning                : #cf8600;
$color-important              : #d00;
$color-notice                 : #66b;


// Base Sizes
// ==========

/**
 * Base font size in used in _mixins.scss
 * @type number
 */

$base-font-size               : 16;

/**
 * Base line-height in used in _mixins.scss
 * @type number
 */

$base-line-height             : 24;


// Font Stacks
// ===========

/**
 * (optional) URL for Google Fonts import
 * @type string
 */

// $google-fonts-url          : 'http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro';

/**
 * (optional) names of webfonts imports
 * @type array
 */

// $fonts                     : 'FONTNAME', 'FONTNAME', 'FONTNAME', 'FONTNAME';

/**
 * define font stack used for sans-serifs
 * @type string
 */

$font-family-sans             : 'source-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * define font stack used for serifs
 * @type string
 */

$font-family-serif            : 'source-serif-pro', Georgia, 'Times New Roman', Times, serif;

/**
 * define font stack used for monospaced copy
 * @type string
 */

$font-family-monospace        : 'source-code-pro','Inconsolata', "Menlo", Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
                                'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
                                Monaco, 'Courier New', Courier, monospace;

/**
 * define font stack used for headings
 * @requires {variable} $font-family-serif
 * @type string
 */

$font-family-display          : $font-family-serif;

/**
 * define font stack used for paragraphs
 * @requires {variable} font-family-sans
 * @type string
 */

$font-family-default          : $font-family-sans;

// Font Weights
// ============

$font-weight-light            : 300;
$font-weight-normal           : 400;
$font-weight-semibold         : 700;
$font-weight-bold             : 900;


// Breakpoints
// There are no common breakpoints; examples based on the official Sass styleguide
// You'll need to define your own breakpoints to suit your design
// ============

$mobile-small                 : 240;
$mobile-large                 : 320;
$tablet-small                 : 480;
$tablet-large                 : 768;
$screen-small                 : 1024;
$screen-large                 : 1280;

/**
 * Define z-indexes for various elements
 * @link http://www.sitepoint.com/using-sass-maps/
 * @type number
 */

// z-index reference
$zindex: (
  modal                       : 9000,
  overlay                     : 8000,
  dropdown                    : 7000,
  header                      : 6000,
  footer                      : 5000
);
