// ==========================================================================
// Typography
// http://modularscale.com/scale/?px1=21&px2=800&ra1=1.618&ra2=0
// ==========================================================================
  body { 
    font-family: $font-family-default;
    font-size: #{$base-font-size}px;
    line-height: 1.5;
  }

  h1,h2,h3,h4,h5,h6 { 
    color: $color-text-heading; 
    font-weight: $font-weight-normal;
 }
  h1 { font-size: em(30); }
  h2 { font-size: em(24); }
  h3 { font-size: em(22); }
  h4 { font-size: em(20); }
  h5 { font-size: em(18); }
  h6 { font-size: em(16); }

  .subheader {
    line-height: 1.4;
    color: lighten($color-text-heading, 15);
    font-weight: $font-weight-light;
    margin-top: 0.2em;
    margin-bottom: 0.5em; 
  }

  a {
    color: $color-link;
    text-decoration: none;
    @include transition(all .25s ease);
    &:hover {
      color: $color-link-hover;
    }
  }

  p,ol,ul,table,pre,dd { margin-bottom: 14px; }

  ol,ul,blockquote,pre { margin-left: 25px; }

  ol,ul {
    list-style-type:circle; 
    list-style-position:inside;
  }
  ol ol,ul ul { 
    font-style:italic; 
    font-size: em(13); 
    margin-bottom:0;
  }

  ol { 
    list-style-type:decimal; 
    ol{list-style-type:lower-latin;}
  }

  blockquote {
    padding: 5px 25px 5px 0; 
    font-style:italic;
    p { 
      border-left: 2px solid #eee; 
      padding-left: 25px;
    }
    cite {
      font-style: normal;
      &:before {
        content: '\2014';
      }
    }
  }
  pre {
    margin: 0;
  }

  code {
    color: $color-text;
    font-family: $font-family-monospace;
  }

// ==========================================================================
// Media
// ==========================================================================

figure {
  margin-bottom: rem(33);

  img {
    display: block;
    margin-bottom: rem(11);
  }
}

figcaption {
  // @include font-size(22);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

// makes all media responsive
img,
embed,
object,
video,
iframe {
  max-width:100%;
  border:0; 
  -ms-interpolation-mode: bicubic; 
}

// ==========================================================================
// Forms
// ==========================================================================

::-moz-selection {
  @include selection($black, $color-primary);
}

::selection {
  @include selection($black, $color-primary);
}

::-webkit-input-placeholder {
   @include placeholder-color($color-shadow)
}

::-moz-placeholder {
   @include placeholder-color($color-shadow)
}

// ==========================================================================
// Forms
// ==========================================================================

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  line-height: 1.6;
  resize: vertical;
}

label {
  cursor: pointer;
}

input[type=text],
input[type=search],
input[type=email],
input[type=url],
textarea {
  -webkit-appearance: none;
  border: 1px solid $color-shadow;
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include transition(all .25s ease);
  color: $color-text;
  outline: none;
  padding: rem(12);
  width: 100%;
  &:focus {
    border-color: darken($color-primary, 50%);
    color: inherit;
  }
}

// ==========================================================================
// Tables
// ==========================================================================

  table {
    border-top: 1px solid #b4b4b4; 
    border-left: 1px solid #b4b4b4;
    th { background: #efefef; }
    td, th { 
      border-bottom: 1px solid #b4b4b4; 
      border-right: 1px solid #b4b4b4; 
      padding: 5px 7px;
    }
  }

// ==========================================================================
// Definition List
// ==========================================================================
  dt {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-bold;
  }

  dd { padding: 0; }