// Themes
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.
//
// @source http://smacss.com/book/type-theme

$theme: rebeccapurple;

@import '../styles';
