// @flag object
// http://csswizardry.com/2013/05/the-flag-object/

// @module
.flag {
  display: table;
  width: 100%;

  // @submodule
  &-pull-right,
  &-pull-left,
  &-body {
    display: table-cell;
    vertical-align: middle;
  }

  &-body {

  }

  &-pull-left {
    padding-right: em(20);
  }

  &-pull-right {
    padding-left: em(20);
    text-align: right;
    
    img {
      /* This is the only way to float it to the right for now */
      float: right;
    }
  }
}